 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 

#wrapper {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
    padding: 30px;
    background-color: rgb(226, 187, 115);
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

p {
    margin: 1.5em 0;
}

#home-link {
   margin:auto;
   text-align: center;
   width:fit-content;
   padding: 20px;
   a {
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(65, 65, 244);
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
}

#home-link:hover a {
    background-color: rgb(48, 48, 175);
}