* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 5px 5px;
    padding: 2px 10px;
    background: linear-gradient(
        to right,
        rgb(239, 239, 89),
        rgb(236, 95, 236)
    );
}

#calculator-container {
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 5px 5px;
}

#input-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    input {
        border: 2px solid black;
        border-radius: 8px;
        padding: 5px;
        background-color: rgb(239, 239, 89);
        max-width: 300px;
    }
}

input::placeholder {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-group {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px;
    background-color: rgb(236, 95, 236);
    transition: all 0.1s ease;
}

button:hover,
#clear:hover {
    background-color: rgb(210, 50, 210);
}

#clear {
    background-color: rgb(236, 95, 236);
    border: 2px solid black;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.1s ease;
    box-shadow: 3px 3px;
}

button:active,
#clear:active {
    transform: translateY(3px);
    box-shadow: 1px 1px;
}

#result {
    border: 2px solid black;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(239, 239, 89);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

#other-projects {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    #input-box {
        flex-direction: column;
    }
}
