/*whole page formatting*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*background-image and text*/

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-image: url("../images/index-mobile-background.jpg"); 
    /*my vertical background image for mobile screen*/
    /*if I start url with images/... the browser looks for the images folder
    inside the css folder so ../ at the start tells it to go back out to root first, then images folder*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
      }    

/*header*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 20px 0;
    gap: 10px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

li {
    font-size: 1.5rem;
    padding: 5px;
    list-style: none;
}

header a:hover {
    background-color: blue;
    border-radius: 8px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/*footer*/

footer {
    text-align: center;
    p {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: auto;
        width: fit-content;
        padding: 10px;
    }
    a:hover {
        color: blue;
}
}

    
/*media queries*/

/* Adjustments for mobile landscape / short screens */
@media (max-height: 500px) and (orientation: landscape) {
    body {
        background-image: url("../images/index-large-background.jpg"); /* Switch to horizontal background */
    }

    h1 {
        font-size: 1.8rem; 
    }

    li {
        font-size: 1.1rem;
        padding: 2px;
    }
    
    nav {
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    body {
          background-image: url("../images/index-large-background.jpg"); 
          /* My horizontal image for desktop */
          /* starting url with ../ to go from root into images folder*/
    }

    h1 {
        font-size: 3.5rem;
    }

    li {
        font-size: 2rem;
    }
}