/*page layout and font styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400; 
}

h2 {
  font-weight: 900;
  font-size: 40px;
}

h3 {
  font-weight: 700; 
  font-size: 16px;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5fafa;
  padding: 10px;
  font-weight: 700;
  nav a {
    padding: 5px;
    font-size: 12px;
  }
  nav i {
    color: black;
    font-size: 16px;
  }
}

#archive-link {
    color: grey;
    text-decoration: none;
    border-radius: 8px;
}

#new-entry-page {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-size: 12px;
}

#profile-icon {
  border-radius: 8px;
}

/*main*/

main {
  background-color: #f5f5f5;
  padding: 30px;
  color: rgb(201, 191, 191);
  p {
    font-size: 14px;
    color: rgb(126, 121, 121);
  }
}

#new-entry-title {
    border-left: 2px solid grey;
    margin: 10px 50px;
    padding: 20px;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.tag-div {
  display: flex;
  gap: 10px;
  padding-top: 60px;
  margin: 10px 50px;
}

.tag {
  padding: 4px 8px;
  color: black;
  background-color: rgb(212, 205, 205);
  font-size: 12px;
  border-radius: 8px;
}

#add-tag {
  padding: 4px 8px;
  color: grey;
  font-weight: 700;
  background-color: rgb(241, 228, 228);
  font-size: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/*reflection*/

#reflection-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  min-height: 400px;
}

#side-note {
  color: rgb(214, 207, 207);
  max-width: 20%;
  font-size: small;
  line-height: 1.6;
  margin: 20px;
}

#reflection {
  margin: 20px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}

#reflection::placeholder {
  color: rgb(214, 207, 207);
  text-wrap: nowrap;
}

/*options*/

#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#options-left button {
  color: grey;
  margin: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

#discard-button {
  margin: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

#save-entry-button {
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}


/*footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: grey;
  font-size: 12px;
  color: rgb(177, 169, 169);
  background-color: #f5fafa;
  a {
    color: rgb(177, 169, 169);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
  }
}

/*hover effects*/

#archive-link:hover, #profile-icon:hover, #add-tag:hover, #options-left button:hover, #discard-button:hover {
  background-color: rgb(238, 238, 100);
}

#save-entry-button:hover, footer a:hover {
  background-color: rgb(238, 238, 100);
  color: black;
}

/*media query*/

@media only screen and (max-width: 700px){
  #reflection-div {
    flex-direction: column;
    align-items: center;
  }

  #reflection::placeholder {
  text-wrap: unset;
}

  #side-note {
    max-width: unset;
  }

  #reflection {
    width: 100%;
    resize: vertical;
  }


  footer nav {
    display: flex;
    flex-direction: column;
    a {
      padding: 5px;
    }
  }
}

