body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    
button {
    background-color:rgba(87, 199, 133, 1);
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px;
    font-size: 14px;
    margin: 10px;
}

button:hover {
    background-color: yellow;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  border: 2px solid black;
  padding: 5px;
}
 
.header {
  grid-area: header;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.aside {
  grid-area: aside;
  border: 2px solid black;
  padding: 20px;
  background: linear-gradient(90deg,rgba(87, 199, 133, 1) 25%, rgba(237, 221, 83, 1) 63%);
}
.main {
  grid-area: main;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg,rgba(87, 199, 133, 1) 25%, rgba(237, 221, 83, 1) 63%);
}
.footer {
  grid-area: footer;
  text-align: center; 
  border: 2px solid black;
  padding: 10px; 
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-weight: bold;
}