body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
}
    
button {
    background-color:#88faa7;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px;
    font-size: 14px;
    margin: 10px;
}

button:hover {
    background-color: #EFAFDD;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  border: 2px solid black;
  padding: 5px;
}
 
.header {
  grid-area: header;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(175, 239, 192, 1) 13%, rgba(239, 175, 221, 1) 83%);
}

.aside {
  grid-area: aside;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
}

.main {
  grid-area: main;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.pink {
  background-color: #EFAFDD;
  display:inline-block;

}
.footer {
  grid-area: footer;
  text-align: center; 
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px; 
  background: linear-gradient(90deg, rgba(175, 239, 192, 1) 13%, rgba(239, 175, 221, 1) 83%);
}

h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
}