/* 1. Import fonts at the very top */
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
/* 2. Import Tailwind */
@import "tailwindcss";

/* 3. Single theme block for all your custom values */
@theme { /*I must put the font at the top of the theme block*/
  --font-fancy: "Quintessential", serif;
  --color-seablue: #95C5E9;
  --color-paleorange: #E9B995;
}