.job-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    margin-top: 20px;
}

.no-jobs {
    font-size: large;
    color: red;
    padding: 20px;
}