.task-form {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 231, 231);
}

.button-group {
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
}
