/*page layout*/

.App {
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  background-color: grey;
  padding: 0;
  margin: 0;
}

.App > :nth-child(1), .App > :nth-child(2) {
  grid-column: 1 / span 2;
}

/*header component*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

/*profile display component*/

.profile-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
  background-color: grey;
}

.profile-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;  
  margin: 20px;
  box-shadow: 5px 5px 5px black;
  background-color: white;
  max-width:fit-content;
}

.profile-card h2 {
  font-family: Arial, sans-serif;
}

.profile-card p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  max-width:70%;
  margin: 0 auto;
}

.profile-card ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.profile-card li {
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: rgb(127, 74, 250)
}

.profile-image {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 15px;
  max-width: 250px;
  height: 50%;
}

/*variable display component*/

.variable-display {
  padding: 10px;
  background-color: grey;
  padding-top: 80px;
  h1 { 
    text-align: center;
    padding-bottom: 20px;
  }
}

.variable-display-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 5px 5px 5px black;
  p{
    text-align: left;
    width: 100%;
  }
  ol {
    text-align:left;
  }
}

/*job board component*/

.JobBoard {
  border: 2px solid black;
  border-radius: 50%;
  padding: 50px;
  background-color: orange;
  color: white;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 40px;
  p {
    font-size: 30px;
   }
}

/*styled button component*/

.styled-button {
  border: 2px solid black;
  width: fit-content;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.clicked-button {
  background-color: lightgray !important;
  color: grey !important;
  box-shadow: none !important;
  border: 2px solid grey !important;
  cursor: none !important;
  opacity: 0.6;
}

/*job counter component*/

.job-counter {
  border: 2px solid black;
  width: fit-content;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  p {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
  }
  button {
    border-radius: 8px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px black;
    background-color:aquamarine;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
}

.job-counter button:hover {
  background-color: rgb(28, 116, 87);
  color: white;
}

/*advanced job counter component*/

.advanced-job-counter {
  border: 2px solid black;
  width: fit-content;
  margin: 20px auto;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  p {
    font-weight: bold;
    font-size: 20px;
  }
  button {
    border-radius: 8px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px black;
    background-color:aquamarine;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 5px 5px;
    width: 100%;
  }
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
  }

.advanced-job-counter button:hover {
  background-color: rgb(28, 116, 87);
  color: white;
}

.enviro-button {
  max-width: fit-content;
  margin: 20px auto;
}

/*dynamic form commponent*/

.dynamic-form {
  border: 2px solid black;
  width: fit-content;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  ul {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    li {
      text-align: start;
      margin: 0 30px;
    }
  }
}

.input-submit-div {
  border: 2px solid black;
  width: fit-content;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 5px;
  input {
    min-height: 20px;
    border-radius: 3px;
  }
  button {
    border-radius: 3px;
    background-color: rgb(234, 87, 111);
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
  }
  button:hover {
      background-color: rgb(171, 57, 74);
    }
}

.p-tag {
  border: 2px solid black;
  border-radius: 5px;
  min-height: 20px;
  width: 90%;
  max-width: 200px;
  overflow: hidden;
  margin: 20px auto;
}

.submitted-list {
  min-height: 20px;
  width: 20px auto;
  max-width: 200px;
  word-wrap: break-word;
  gap: 20px;
}

/*bot list manager component*/

.bot-list-manager {
  border: 2px solid black;
  background-color: lightskyblue;
  border-radius: 8px;
  width: fit-content;
  margin: 20px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(213, 229, 236)
  }
  li {
    background-color: white;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
  }
  button {
    background-color: lightskyblue;
    font-weight: bold; 
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 5px 5px 5px grey;
  }
  button:hover {
    background-color: rgb(55, 140, 193);
    color: white;
  }
}

.add-new-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2pox;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  input, select {
    /*avoid default settings for input and select elements 
    and make sure they are the same width*/
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
  }
  input::placeholder {
    color: rgb(56, 56, 194);
  }
  select {
    color: rgb(56, 56, 194);
  }
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.bot-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bot-box form, .filter-buttons {
  background-color: rgb(248, 248, 126);
}

/*media queries*/

@media only screen and (min-width: 700px) {
  .profile-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .button-group {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1100px) {
  .profile-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}