/* page styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:black;
    color: white;
}

img {
    background-color: white;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;  
}

#container > div:nth-child(n+3) {
    grid-column: span 2; /* Force the 3rd div and every div after it to span both columns */
}

/*logo*/

#menu { 
    border-right: 2px solid hotpink;
    border-bottom: 2px solid yellow;
}

#logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#logo label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#music-logo {
    background-color: hotpink;
}

#top-hits {
    border-radius: unset;
}

#links {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
    a {
        display: flex;
        align-items: center;    
        justify-content: center;
        gap: 5px;}
}

.new-playlist {
    border: 2px solid white; 
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    width: fit-content;
    margin-top: 20px;
}

#playlist-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px; 
}

#playlists {
    display: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

#playlist-toggle:checked ~ #playlists {
    display: block;
}

/*options*/

#options {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-evenly;
   margin-bottom: 40px;
}

#search {
    position: relative;
    display: flex;
    align-items: center;
    label {
        display: flex;
        align-items: center;
        img {
           cursor: pointer; 
        }
    }
}

#search-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

#search-input {
    display: none;
    border-radius: 5px;
    padding: 5px;
}

#search-toggle:checked ~ #search-input {
    display: block;
}

#profile-dropdown {
    position: relative;
}

#profile-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

#profile-menu {
    z-index: 20;
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(50, 49, 49);
    padding: 5px;
    li {
        list-style: none; 
        padding: 5px 10px;
        a {
            margin-left: 15px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

#profile-toggle:checked ~ #profile-menu {
    display: block;
}

#app {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px; 
    text-align: center;
    text-wrap: nowrap;
    width: fit-content;
}

#notification {
    position: relative;
}

#tool-tip { 
    position: absolute; 
    top: 100%;
    right: 50%;
    visibility: hidden; 
    border-radius: 5px;
    background-color: rgb(50, 49, 49);
    text-wrap: nowrap;
    padding: 5px;
    border: 2px solid black;
}

/*buttons*/

#button-group {
  display: flex;
  align-items: center;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap; 
}

.button {
  position: relative;
  flex: 0 0 15%; 
  padding: 5px;
}

.toggle-button {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.dropdown-menu {
    display: none;
    position: absolute; 
    cursor: pointer;
    top: 120%;
    left: 50%;
    border-radius: 5px;
    background-color: rgb(50, 49, 49);
    padding: 5px;
}

.play-button {
    display: block;
    border-radius: 5px;
    padding: 5px;
}

.toggle-checkbox:checked ~ .dropdown-menu {
    display: block;
}

/*footer (player)*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hide ALL players by default */
.player-wrapper {
    display: none;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

/* ONLY show the player that matches the current URL hash */
.player-wrapper:target {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*hover effects*/

#hamburger-menu:hover, #links img:hover, .new-playlist:hover, #search img:hover, #notification img:hover, #profile:hover{
    background-color: rgb(0, 234, 255);
}

#app:hover, #profile-menu a:hover, #tool-tip:hover, .toggle-button:hover, .play-button:hover {
    background-color: rgb(0, 234, 255);
    color: black;
}

#notification:hover #tool-tip {
    visibility: visible;
}

@media only screen and (min-width: 700px) {
    #container {
        grid-template-columns: 1fr 3fr;
    }

    #menu {
        grid-row: 1 / span 11;
        grid-column: 1;
    }

    #container > div:nth-child(n+3) {
        grid-column: auto; /* Reset the column span for larger screens */
    }

    #container > div:not(#menu) {
        grid-column: 2; /* Force all divs except the menu to be in the second column */
    }

    #options {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .player-wrapper:target {
        flex-direction: row;
    }
}